@model Domain.Entities.ArticleList

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditArticleList</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#txtAutocomplete").autocomplete({
            source: function (request,response) {
                //debugger;
                $.ajax({
                    url: '/AdminArticleList/GetSearchedArticles',
                    dataType: 'json',
                    method: 'POST',
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Title, value: item.Id };
                        }))
                    }
                });
            }
        });
        $("#btnsubmit").click(function () {
            var val = $("#txtAutocomplete").val();
            alert("You selected: "+val);
        });
    });
    </script>


</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>ArticleList</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
                 
            <label class="text-info">
                Enter some text here
            </label>
            <input type="text" class="form-control" name="articleId" id="txtAutocomplete" style="max-width:300px;" /><br />

            @foreach (var p in Model.Articles)
            {
                <div>
                    @*<h3>@p.Title</h3>
                <h4>@p.Created</h4>
                @p.Id*@

                    @Html.ActionLink(p.Title, "Edit", "AdminArticle", new { id = p.Id }, null)
                </div>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div class="form-horizonthal">
            <div class="form-group
             ">
                
                <input type="button" class="btn btn-default" id="btnsubmit" value="get Value" />
            </div>
        </div>
    }
    
</body>
</html>
