@using MvcProject.CustomHtmlHelpers

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.MenuLink("Articles", "List", "Article")</li>
                <li>@Html.MenuLink("Add Article", "Index", "AdminArticle")</li>
                <li>@Html.MenuLink("Article Lists", "ArticleListList", "AdminArticleList")</li>
                <li>@Html.MenuLink("Add Article List", "AddArticleList", "AdminArticleList")</li>
                <li>@Html.MenuLink("About", "About", "AdminArticle")</li>
            </ul>
        </div>
    </div>
</div>


